<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Class</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .button{  
            padding-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Welcome, {{ student_name }}!</h1>
        <h2 class="mb-4">Select a Class to Check:</h2>
        <div class="row">
            {% for subject, class_code in classes.items() %}
                <div class="col-md-4 mb-3">
                    <form action="/check_class" method="post">
                        <input type="hidden" name="subject" value="{{ subject }}">
                        <button type="submit" class="btn btn-primary btn-block">{{ subject }}</button>
                    </form>
                </div>
                
            {% endfor %}
        </div>
        <div class="button">
            <a href="/" class="btn btn-primary">Main Page</a>
        </div>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
