<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/loginn" method="post" enctype="multipart/form-data">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="file">Upload QR Code Image:</label><br>
        <input type="file" id="file" name="file"><br>
        <input type="submit" value="Login">
    </form>
    <div class="button">
        <a href="/" class="btn btn-primary">Main Page</a>
        <button class="btn btn-primary" onclick="goBack()">Go Back</button>
    </div>
</body>
</html>
